@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
/*Configs gerais*/
a {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'PT Sans' ,sans-serif;
}

/*Configs gerais*/

#container{
    min-width: 220px;
}

/* -------- INICIO CABEÇALHO -------- */

nav#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: #cb2d3e;
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e); 
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    position: relative;
    width: 100%;
}

nav#cabecalho h1 a{
    color: black;
    padding: 10px;
    background-color: transparent;
    margin-left: 25px;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Girassol', sans-serif;
}

nav#cabecalho ul{
    margin-right: 20px;
    border-left: 3px solid black;
    padding: 10px;
}

nav#cabecalho ul li{
    display: inline;
    margin: 5px 1px;
}

nav#cabecalho ul li a{
    padding: 10px;
    background-color: rgba(0, 0, 0,0.2);
    color: white;
    border-radius: 10px;
}

nav#cabecalho ul li a:hover{
    text-decoration: underline;
    background-color: white;
    color: black;
}

/* -------- FIM DO CABEÇALHO -------- */

/* -------- INICIO CONTEUDO DA PAGINA INDEX -------- */

section#main-content h1{
    text-align: center;
    width:fit-content;
    font-size: 3em;
    font-family: 'PT Sans', sans-serif;
    margin: 15px auto;
    border-bottom: 2px solid black;
}

section#main-content .campo-noticias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(165, 42, 42,0.1);
    max-width: 1000px;
    min-width: 220px;
    margin: 10px auto 50px auto;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
}

div.campo-noticias .noticia {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: black;
    margin: 10px;
    box-shadow: 2px 2px 4px black;
}

div.campo-noticias .noticia-foto img{
    width: 300px;
    height: 400px;
    opacity: 0.9;
    object-fit: cover;
}

div.campo-noticias .noticia-text{
    position: absolute;
    color: white;
    bottom: 20px;
    margin: 5px;
    padding: 3px 3px;
    opacity: 0;
    text-align: center;
    font-family: 'PT sans', sans-serif;
    transition: opacity 0.3s;
}

div.campo-noticias .noticia-text h3, div.campo-noticias .noticia-text p{
    font-size: 1.3em;
    margin-bottom: 20px;
}

div.campo-noticias .noticia-text a{
    font-size: 1.5em;
    color:white;
    font-weight: bolder;
    background-color: rgba(0, 0, 0,.3);
    border-radius: 5px;
    padding: 2px;
}

div.campo-noticias .noticia:hover .noticia-text{
    opacity: 1;
}

div.campo-noticias .noticia:hover .noticia-foto{
    opacity: .3;
}

/* -------- FIM DO CONTEUDO DA PAGINA INDEX-------- */

/* -------- INICIO CONTEUDO DA PAGINA POLITICA -------- */
section#main-content .pagina-politica{
    max-width: 1200px;
    min-width: 220px;
    margin: 10px auto 50px auto;
    height: 100%;
    border-radius: 15px;
}

div.pagina-politica .noticia{
    display: flex;
    align-items: center;
    margin: 10px auto;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
}

div.pagina-politica .noticia-foto {
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: -4px;

}

div.pagina-politica .noticia-foto img{
    width: 100%;
}

div.pagina-politica .noticia-text p{
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}

div.pagina-politica .noticia-text h3{
    font-size: 2em;
}





/* -------- FIM DO CONTEUDO DA PAGINA POLITICA-------- */

/* -------- RODAPÉ DA PAGINA -------- */
footer#rodape{
    width: 100%;
    background: #cb2d3e;
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e); 
    background: linear-gradient(to right, #ef473a, #cb2d3e);
    text-align: center;
    height: 50px;
    padding-top: 5px;
    color: white;
}

footer#rodape a{
    padding: 2px;
    font-style: italic;
    color: white;
}

footer#rodape a:hover{
    text-decoration: underline;
    font-size: 1.2em;
}
